<?xml version="1.0"?>
<launch>

  <!--argument to find which pieces and parts to load in the robot-->
    <arg name="components" default="impact_urdf"/>

    <!--Load the components to the parameter server-->
	<param name="robot_description" command="python3 '$(find impact_urdf)/scripts/urdf.py' $(arg components)"/>
   <!--<param name="robot_description" command="$(find xacro)/xacro $(find ar3_description)/urdf/ar3_gazebo.urdf.xacro"/>-->

    <!--Load controller ROS parameters and start controllers found in the Impact_Control configuration file -->
   <node pkg="impact_control" name="launch_controllers_node" type="control.py" output="screen"/>

   
 
    <!-- Convert joint states to TF transforms for rviz, etc -->
    
    <include file="$(find wheeltec_gazebo)/launch/effort_control.launch" />
  
    <!-- Start gazebo model and world 
    <include file="$(find ar3_gazebo)/launch/ar3_pick_and_place_world.launch" />-->
    <include file="$(find ar3_gazebo)/launch/ar3_world.launch" />

    <!-- Start the rqt joint controller for testing 
    <node name="rqt_joint_trajectory_controller" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" />-->
</launch>